name: Tests

on:
  push:
    branches-ignore:
    - dev-*
    - local-*
    - temp-*
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      # If you change the test matrix, also change it in tox.ini
      matrix:
        # Test the latest stable Sphinx version on all current Python versions
        sphinx: ['8.0']
        python: ['3.10', '3.11', '3.12', '3.13']
        include:
          # Also test older Sphinx versions on compatible Python versions
          # Note: X.0 versions must be quoted as string; Github would otherwise
          # set them as "X" (without the ".0"), which is undefined in tox.ini.

          # Sphinx 5.x supports Python 3.6-3.11
          - sphinx: '5.0'
            python: '3.10'
          - sphinx: '5.0'
            python: '3.11'
          # Sphinx 6.x supports Python 3.8-3.11
          - sphinx: '6.0'
            python: '3.10'
          - sphinx: '6.0'
            python: '3.11'
          # Sphinx 7.x supports Python 3.9-3.13
          - sphinx: '7.0'
            python: '3.10'
          - sphinx: '7.0'
            python: '3.11'
          - sphinx: '7.0'
            python: '3.12'
          - sphinx: '7.0'
            python: '3.13'
    name: Python ${{ matrix.python }} - Sphinx ${{ matrix.sphinx }}
    steps:
    - name: Checkout latest commit
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}

    - name: Cache pip
      uses: actions/cache@v4
      id: cache-pip
      with:
        path: ~/.cache/pip
        key: ${{ matrix.python }}-pip-

    - name: Install dependencies
      run: python -m pip install --upgrade tox

    - name: Run tests
      env:
        TOXENV: python${{ matrix.python }}-sphinx${{ matrix.sphinx }}
      run: tox -e $TOXENV
